<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.billy.DAO.IF_billyDAO">

   <insert id="insertBilly" parameterType="com.billy.VO.BillyGoodsVO">
      insert into billyGoods values(#{id},#{gNum},#{cateNum},#{gName},#{gLoca},#{gStrDate},#{gEndDate},#{gPrice},#{gText}) 
   </insert>
   <insert id="billy_attach" parameterType="String">
   insert into billyAttach values((select max(gNum) from billyGoods), #{filename},
   default)
   </insert>
   <select id="selectMaxCnt" resultType="int">
      select max(gNum) as maxNum from billygoods   
   </select>
   <select id="selectAllBilly" resultType="com.billy.VO.BillyGoodsVO">
   		select * from billygoods
   </select>
    <select id="selectOneBilly" parameterType="String" resultType="com.billy.VO.BillyGoodsVO">
   		select * from billygoods where gNum= #{vno}
   </select>
     <select id="selectAllBilly_attach" resultType="com.billy.VO.BillyGoods_attachVO">
   		select * from billyAttach
   </select>
   <select id="selectOneBilly_attach" parameterType="String" resultType="com.billy.VO.BillyGoods_attachVO">
   		select fName from billyAttach where gNum=#{vno}
   </select>
   
   <update id="updateBilly" parameterType="com.billy.VO.BillyGoodsVO">
		update billyGoods set 
		cateNum=#{cateNum},gName=#{gName},gLoca=#{gLoca},gStrDate=#{gStrDate},gEndDate=#{gEndDate},
		gPrice=#{gPrice}, gText=#{gText} where gNum=#{gNum}
   </update>
   
  

</mapper>