<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.billy.DAO.IF_billyDAO">

   <insert id="insertBilly" parameterType="com.billy.VO.BillyGoodsVO">
      insert into billyGoods values(#{id},#{gNum},#{cateNum},#{gName},#{gLoca},#{gStrDate},#{gEndDate},#{gPrice},#{gText}) 
   </insert>
   <insert id="billyAttach" parameterType="String">
   insert into billyAttach values((select max(gNum) from billyGoods), #{filename},
   default)
   </insert>
   <select id="selectMaxCnt" resultType="int">
      select max(gNum) as maxNum from billygoods   
   </select>
   
   <!-- 빌리게시판 전체보기 요청시. billyGoods(글정보), billyAttch(사진), billyBookmark(좋아요 개수노출) 응답-->
   <select id="selectAllBilly" resultType="com.billy.VO.BillyGoodsVO">
		select b.id, b.gNum, b.cateNum, b.gName, b.gLoca, b.gStrDate,
		b.gEndDate,b.gPrice,b.gText,nvl(m.good,0)as gLike_cnt from billyGoods
		b
		left outer join (select gNum, count(*) as good from billyBookmark group by
		gNum) m
		on b.gNum=m.gNum order by b.gNum desc
	</select>
	
    <select id="selectOneBilly" parameterType="String" resultType="com.billy.VO.BillyGoodsVO">
   		select * from billygoods where gNum= #{vno}
   </select>
   <select id="selectOnebillyName" parameterType="String" resultType="String">
  		 select m.name from billyMember m inner Join billyGoods g on(m.id=g.id) where g.gNum=#{vno}
   </select>
     <select id="selectAllBillyAttach" resultType="com.billy.VO.BillyGoodsAttachVO">
   		select * from billyAttach
   </select>
   <select id="selectOneBillyAttach" parameterType="String" resultType="com.billy.VO.BillyGoodsAttachVO">
   		select fName from billyAttach where gNum=#{vno}
   </select>
   
   <update id="updateBilly" parameterType="com.billy.VO.BillyGoodsVO">
		update billyGoods set 
		cateNum=#{cateNum},gName=#{gName},gLoca=#{gLoca},gStrDate=#{gStrDate},gEndDate=#{gEndDate},
		gPrice=#{gPrice}, gText=#{gText} where gNum=#{gNum}
   </update>
   
   
   <!-- 빌리삭제: 첨부파일은 삭제, 빌리트렌젝션은 준비된 빌리로 대체, 빌리삭제순으로.. -->   
   <delete id="deleteBillyAttachGnun" parameterType="String">
   		delete from billyAttach where gNum=#{vno}
   </delete>
   <delete id="updateBillyTransactionNo_1" parameterType="String">
   		update Transaction set gNum=1 where gNum=#{vno}
   </delete>
   <delete id="deleteBillyGoods" parameterType="String">
   		delete from billyGoods where gNum=#{vno}
   </delete>    
   
   <update id="updateBillyMemberId" parameterType="String">
   		update billyGoods set id='admin1' where id=#{id}
   </update>
   
   <!-- 빌리기 시  트랜잭션 추가 -->
   <insert id="insertBillyTransaction" parameterType="com.billy.VO.BillyGoodsRentVO">
   		insert into Transaction values(#{id}, #{gNum}, #{tIndate},#{tPrice})
   </insert>   
   <!-- 트랜잭션에서 해당 빌리의 대여된 날짜 가져오기 -->
   <select id="selectBillyRentdate" parameterType="String" resultType="String">
   		select tIndate from Transaction where gNum=#{gNum}
   </select>
   
   	<!-- 좋아요 클릭유무 -->
	<select id="selectCntBillyLike" resultType="int" parameterType="com.billy.VO.BillyGoodsLikeVO">
		select count(*) from billyBookmark where id = #{id} and gNum = #{gNum}
	</select>
   <insert id="billyLikeUp" parameterType="com.billy.VO.BillyGoodsLikeVO" >
		insert into billyBookmark values(#{id}, #{gNum})
	</insert>
	<delete id="billyLikeDown" parameterType="com.billy.VO.BillyGoodsLikeVO">
		delete from billyBookmark where id = #{id} and gNum =#{gNum}
	</delete>
	
	<!-- 빌리 첨부파일 삭제 쿼리 -->
	<delete id="deleteBillyAttach">
		delete from billyAttach where gNum = #{gNum} and
		<foreach collection="delFiles" item="delFile" open="(" close=")" separator="OR"> 
			fName = #{delFile}
		</foreach>
	</delete>
	
	<!-- 게시판 첨부파일  삽입 쿼리 -->
	<insert id="updateBillyAttach">
		<choose>
			<when test='file1 != null'>
			insert all
				into billyAttach values (#{vNum0},#{file0},default)
				into billyAttach values (#{vNum0},#{file1},default)
			select * from sys.dual
			</when>
			<otherwise>
				insert into billyAttach values (#{vNum0},#{file0},default)
			</otherwise>
		</choose>
	</insert>

</mapper>